In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('data_rank.csv')

In [35]:
df.head()

,Year,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [36]:
df.shape

(1367, 10)

In [37]:
df.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
count,1367.000000,1367.000000,1367.000000,1367.000000,1367.000000,1366.000000,1367.000000,1366.000000,1367.000000
mean,2018.903438,76.577908,5.441086,3.690225,0.973053,0.621001,0.543280,0.322475,0.139746
std,2.561006,44.088602,1.117909,3.996117,0.301305,0.200911,0.221468,0.310588,0.162889
min,2015.000000,1.000000,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907
25%,2017.000000,38.500000,4.599500,0.877137,0.789840,0.540417,0.393185,0.075097,0.048035
50%,2019.000000,76.000000,5.440000,1.299470,0.929000,0.655985,0.538000,0.155327,0.144000
75%,2021.000000,114.000000,6.256300,8.360500,1.203500,0.733000,0.715658,0.657750,0.236244
max,2023.000000,158.000000,7.842000,11.660000,1.644000,1.141000,0.974998,0.939000,0.838075

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           1367 non-null   int64
 1   Country                        1367 non-null   object
 2   Happiness Rank                 1367 non-null   int64
 3   Happiness Score                1367 non-null   float64
 4   Economy (GDP per Capita)       1367 non-null   float64
 5   Family                         1367 non-null   float64
 6   Health (Life Expectancy)       1366 non-null   float64
 7   Freedom                        1367 non-null   float64
 8   Trust (Government Corruption)  1366 non-null   float64
 9   Generosity                     1367 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 106.9+ KB

In [39]:
#Check for nulls
df.isnull().sum()

Year                             0
Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         1
Freedom                          0
Trust (Government Corruption)    1
Generosity                       0
dtype: int64

In [40]:
df = df.dropna()

In [41]:
df.isnull().sum()

Year                             0
Country                          0
Happiness Rank                   0
Happiness Score                  0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
dtype: int64

In [42]:
df.describe()

,Year,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
count,1365.000000,1365.000000,1365.000000,1365.000000,1365.000000,1365.000000,1365.000000,1365.000000,1365.000000
mean,2018.901099,76.602930,5.440500,3.687711,0.973281,0.620965,0.543359,0.322099,0.139911
std,2.560363,44.090124,1.118053,3.996495,0.301463,0.200981,0.221482,0.310391,0.162837
min,2015.000000,1.000000,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.300907
25%,2017.000000,39.000000,4.596000,0.876160,0.790000,0.540390,0.394000,0.075060,0.049000
50%,2019.000000,76.000000,5.440000,1.296000,0.929330,0.655970,0.538000,0.155300,0.144000
75%,2021.000000,114.000000,6.255000,8.360000,1.204000,0.733000,0.716000,0.657000,0.236298
max,2023.000000,158.000000,7.842000,11.660000,1.644000,1.141000,0.974998,0.939000,0.838075

In [43]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Year, Country, Happiness Rank, Happiness Score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity]
Index: []

In [44]:
df.to_csv("data_rank_cleaning.csv", sep=",", index=False)